p {
    font-size: 14px;
    text-align: left;
    margin: 5px 0;
}

.bold {
    font-weight: 600;
}

.icon {
    vertical-align: middle;
}

.listing {
    background-color: rgba(237,238,242, .9);
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    width: fit-content;
}

.listing-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.grid1 {
    display: grid;
    grid-template-columns: 2fr 15px 1fr;
    grid-column-gap: 5px;
    justify-items: start;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    justify-items: start;
}

.grid1 li:nth-child(1) {
    justify-self: start;
    grid-column: 1;
}

.grid1 li:nth-child(2) {
    grid-column: 2;
    justify-self: end;
}

.grid1 li:nth-child(3) {
    grid-column: 3;
    justify-self: center;
}

.grid2 li:nth-child(2) {
    grid-column: 2;
    justify-self: end;
}

.listing-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
}

.image-div {
    width: 75px;
}

.nft-image {
    width: 100%;
    height: auto;
}

.eth-logo {
    height: 1.3em;
    width: auto;
    vertical-align: middle;
    margin-top: -1px;
}

button {
    padding: 10px 20px;
    margin: 10px 0px 5px 10px;
}

.rent-btn {
    margin-left: auto;
    width: fit-content;
    grid-column: 2;
    justify-self: end;
}
/* 
.details-btn {
    grid-column: 1;
    justify-self: start;
} */

