<div>
    <p class="title">
        Defiquity
        <br>
        <img class="defiquity-logo" src="/assets/camel1.svg">
        <br>
        <span class="subtitle">
            A new market for liquidity positions.
        </span>
    </p>
    <div class="centered">
        <button routerLink="/listings" class="button button--mimas">
            <span>See Listings</span>
        </button>
    </div>
    <div class="centered">

    </div>
    <br>
    <div class="centered about">
        <p class="subtitle">
            Features
        </p>
        <div class="text-div">
            <p class="textblock">
                • Rent, buy, sell, and swap liquidity positions
                <br>
                • Sell call options using liquidity positions
                <br>
                • Buy synthetic calls to speculate on token prices
            </p>
        </div>

        <p class="subtitle">
            About The Developers
        </p>
        <div class="text-div">
            <p class="textblock center-text">
                I am Tanay Patil, a freshman at UCSD.
                <br>
            </p>
        </div>

    </div>

</div>