
/* You can add global styles to this file, and also import other style files */
body {
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: "SF Pro Display","Roboto", "SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgb(138,141,153);/*#1d1d1f; */
    margin: 0;
	background-color: #fefdff !important;
  }
  
  .title {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 500;
    letter-spacing: -.002em;
    text-align: center;
    font-family: "SF Pro Display", "Roboto", "SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  }

  p {
      text-align: center;
  }

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus,
button:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
}

a:focus-visible,
button:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid #443ffc;
	outline-offset: 3px;
}


*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 18px;
}

body {
	margin: 0;
	--color-text: #1d1d1f;
	--color-number: #999;
	--color-bg: #fff;
	--color-link: #1352d1;
	--color-link-hover: #111;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus,
button:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
}

a:focus-visible,
button:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid #443ffc;
	outline-offset: 3px;
}

a:focus-visible {
	background: none;
}

.frame {
	padding: 3rem 5vw 6rem;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1.525rem;
	margin: 0 0 1rem;
	font-weight: normal;
	cursor: default;
}

.frame__tagline {
	color: #999;
	max-width: 320px;
	margin: 1rem auto;
}

.frame__related h3 {
	margin: 0;
	padding-top: 1rem;
	font-size: 1rem;
}

.frame__related p {
	margin: 0.5rem 0;
}

.frame__links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.frame__links a:not(:last-child) {
	margin-right: 2rem;
}

.github {
	width: 24px;
	height: 24px;
}

.related {
	text-align: center;
	padding: 4rem 1rem;
	min-height: 40vh;
}

.content {
	display: grid;
	width: 100%;
	margin: 0 auto;
	padding: 10vh 25px;
	max-width: 1300px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: 200px;
	grid-gap: 4rem;
	grid-row-gap: 6rem;
	justify-content: center;
	list-style: none;
}

.content__item {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	counter-increment: itemcounter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	pointer-events: none;
}

.content__item::before {
	color: var(--color-number);
	position: absolute;
	top: 0;
	left: 0;
	content: counters(itemcounter, ".", decimal-leading-zero);
}

.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--mimas {
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-weight: 700;
	font-size: 0.85rem;
	border-radius: 0.5rem;
	overflow: hidden;
	color: #fff;
	background: #ff007b;
	padding: 1.25em 4em;
}

.button--mimas span {
	position: relative;
}

.button--mimas::before {
	content: '';
	background: #000;
	width: 150%;
	height: 120%;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
	transform: translate3d(100%,0,0);
}


.eye {
	position: absolute;
	z-index: 2;
	width: 60px;
	height: 60px;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
}

.eye__outer,
.eye__inner,
.eye__lashes-up,
.eye__lashes-down {
	stroke: #000;
	fill: none;
	stroke-width: 1.5px;
}

.eye__lashes-down {
	opacity: 0;
}

.button--surtur:hover .eye__lashes-up,
.button--surtur:hover .eye__inner,
.button--surtur:hover .eye__iris {
	animation: blinkHide 2s step-end infinite;
}

.button--surtur:hover .eye__lashes-down {
	animation: blinkShow 2s step-end infinite;
}

@keyframes blinkHide {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
}

@keyframes blinkShow {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 0;
	}
}

.button--fenrir {
	background: none;
	padding: 0;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	width: 120px;
	height: 120px;
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.85rem;
}

.progress {
	position: absolute;
	width: 80px;
	height: 80px;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress {
	transform: scale3d(1.2, 1.2, 1);
}

.progress__circle,
.progress__path {
	fill: none;
	stroke: #f0f0f0;
	stroke-width: 1px;
}

.button--fenrir:focus-visible .progress__circle {
	fill: rgba(252,196,63,0.4);
}

.progress__path {
	stroke: #a6a6a6;
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress__path {
	stroke-dashoffset: 0;
}


@media screen and (min-width: 53em) {
	.frame {
		text-align: left;
		z-index: 100;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		padding: 3rem 3.5rem;
		pointer-events: none;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links'
			'... ...'
			'author ...';
	}

	.frame__title-wrap {
		grid-area: title;
	}

	.frame__title {
		margin: 0;
	}

	.frame__tagline {
		position: relative;
		margin-left: 0;
	}

	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
		align-self: start;
		justify-content: start;
	}

	.frame__author {
		grid-area: author;
	}

	.frame a {
		pointer-events: auto;
	}
}

.centered {
  text-align: center;
  margin: 0 auto;
}

table {
	border-radius: 10px;
}
.styled-table {
    border-collapse: collapse;
    margin: 15px auto 25px auto;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: rgba(237,238,242, .9);
	border-radius: 10px;
    color: rgb(138,141,153);
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: thin solid #dddddd;
	border-radius: 10px;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #54BFE4;
  }

  .styled-table th:hover {
	  color: #000;
  }
  
  .row tr:hover {
    color: #54BFE4;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
